<style>
	h1{
		color:yellow;
		font-family: arial;
	}

	html {
    height: 100%;
    overflow-y: hidden;
}

body {
    background-image: url('http://im.ziffdavisinternational.com/ign_latam/news/t/telltales-/telltales-engine-is-getting-an-upgrade-for-the-bat_bje8.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
</style>


<h1>"I am Batman"</h1>


