<style>
	h1{
		color:yellow;
		font-family: arial;
	}

	html {
    height: 100%;
    overflow-y: hidden;
}

body {
    background-image: url('http://cdn.wallpapersafari.com/15/32/jOEIXt.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
</style>


<h1>"This looks like a job for Superman"</h1>


